.job-card {
    height: 250px;
/*    width: 380px;
*/    color: teal;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    float: left;
}
